force-app/main/default/flows/testDriveFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setDefaults</name>
        <label>Create evaluation</label>
        <locationX>332</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>vehicle.Paint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicle.Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flint</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicle.Battery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>75 kWh</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>selectModel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ifTestDrive</name>
        <label>Is evaluation?</label>
        <locationX>213</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>hasTestDrive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectModel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>noTestDrive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicle.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDefaults</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>testDriveFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Test Drive</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_vehicle</name>
        <label>Get vehicle</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifTestDrive</targetReference>
        </connector>
        <filters>
            <field>Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputReference>vehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Paint__c</queriedFields>
        <queriedFields>Model__c</queriedFields>
        <queriedFields>Battery__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>Get contact</label>
        <locationX>66</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_vehicle</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>selectModel</name>
        <label>Select model</label>
        <locationX>70</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectOptions</targetReference>
        </connector>
        <fields>
            <name>modelSelector</name>
            <extensionName>c:modelSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>model</name>
                <value>
                    <elementReference>vehicle.Model__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paint</name>
                <value>
                    <elementReference>vehicle.Paint__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectOptions</name>
        <label>Select options</label>
        <locationX>68</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>optionSelector</name>
            <extensionName>c:optionSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>vehicle</name>
                <value>
                    <elementReference>vehicle</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getContact</startElementReference>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
